.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.8em;
}

.coursesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.coursesList > :last-child:nth-child(odd) {
  grid-column: 1 / -1;
  width: 97.4%;
}

@media (max-width: 768px) {
  .coursesList {
    grid-template-columns: 1fr;
  }
}
